html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: sevenSegment;
    src: url(SevenSegment.ttf);
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.startButton{
    font-family: 'Courier New', Courier, monospace;
    background-color: #fff;
    font-size: 30px;
    margin-top: 10px;
    padding: 0px;
    overflow: hidden;
    border: none;
    transition: all 0.3s ease-in-out;
    height: 0px;
}
.startButton.active{
    height: 50px;
    border: ridge;
}
.startButton:hover{
    background-color: black;
    color: white;
}

.timer{
    font-family: 'sevenSegment';
    width: 250px;
    font-size: 32px;
    color: red;
    background-color: black;
    text-align: center;
    padding: 10px;
}

#taskTimer{
    width: 100%;
    height: 80px;
    background-color: rgba(0,255,0);
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

#taskBg{
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0px;
    z-index: 0;
    background-color: black;
    border-top: 5px solid grey;
    
}

.captains{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    padding-top: 10px;
    overflow: hidden;
    height: 0px;
    width: 0px;
    width: 250px;
    transition: height 0.3s ease-in-out;
}
.captains.active{
    height: 30px;
}

.toggleArrow{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: rgba(209,209,207);
    border-left : 5px solid grey;
    border-top : 5px solid grey;
    border-bottom : 5px solid grey;
}
#arrow{
    height: 100%;
    width: 100%;
    text-align: center;
    transform: rotate(90deg);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
#arrow.active{
    transform: rotate(270deg);
}

.rightMenu{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(425px);
    transition: transform 0.3s ease-in-out;
}
.rightMenu.active{
    transform: translateX(0px);
}

.rightContainer{
    height: fit-content;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 400px;
    padding: 10px;
    display: grid;
    row-gap: 10px;
    background-color: rgba(209,209,207);
    border-left: 5px solid grey;
    border-bottom: 5px solid grey;
}
.createRoom{
    text-align: center;
    cursor: pointer;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    color: white;
    font-family: 'sevenSegment';
    grid-column: span 2 / span 2;
}
.roomInput{
    background-color: black;
    color: white;
    font-family: 'sevenSegment';
    padding: 2px;
    outline: none;
}
.rightText{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-right: 10px;  
    font-size: 24px;
}
#task{
    text-align: center;
    position: fixed;
    z-index: 999;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    -webkit-text-stroke: 1px white;
    font-weight: bolder;
    width: 100%;
    bottom: 20px;
}
.leftMenu{
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    background-color: rgba(209,209,207);
    display: flex;
    height: 100%;
    flex-direction: column;
    width: fit-content;
    border-right: 5px solid grey;
}
.players{
    padding-top: 20px;
    color: #696969;
    font-family: 'Courier New', Courier, monospace;
}
.exit-button{
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-grow: 0;
    width: fit-content;
    cursor: pointer;
    height: 0px;
    transition: height 0.3s ease-in-out;
}
.exit-button.active{
    height: 30px;
    padding: 3px;
}
.exit-text{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 5px;
    font-size: 18px;
}
.round{
    padding-top: 10px;
    color: #696969;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.progress{
    padding-top: 10px;
    color: #696969;
    border-bottom: solid 1px #696969;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}