// Replace the fields and change the filename to 'config.js' to use the redis server
const config = {};

config.redis = {};

config.redis.host = PUT_ENDPOINT_HERE;
config.redis.port = PUT_PORT_HERE;
config.redis.auth = PUT_PWD_HERE;